nav a{
    color:#ADB7BA;
    text-decoration: none;
    font-size: 25px;
    font-family: "Arial", sans-serif;
    padding:10px;
    margin:10px;
   
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: end;
    gap:20px;
}
body{
    background-color: #121212;
}