.navItems a{
    color:#ADB7BA;
    text-decoration: none;
    font-size: 25px;
    font-family: "Arial", sans-serif;
    padding:10px;
    margin:15px;


    
   
}
.navItems a:hover{
    color:#e6eced;
}
.navItems{
    display:flex;
    flex-direction: row;
    justify-content: end;
    gap:20px;

    position: fixed; /* Keeps myynavbar at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212; 
        color: white; 
    text-align: center;
    z-index: 1000;
    height:60px;
}
body{
    background-color: #121212;
}

@media (max-width: 1024px) {

    .container{
        flex-direction: column;
    }
  }
  @media screen and (max-width: 768px) and (min-width:305px) {
.navItems a{
    font-size: 20px;
}


  }
